/*
=============== 
Global Styles
===============
*/
:root {
  --clr-transparent: rgba(0, 0, 0, 0);
  --clr-grey-0: #f8f8f8;
  --clr-grey-1: #dedede;
  --clr-grey-2: #cccccc;
  --clr-grey-3: #b9b9b9;
  --clr-grey-4: #a6a6a6;
  --clr-grey-5: #939393;
  --clr-grey-6: #808080;
  --clr-grey-7: #6d6d6d;
  --clr-grey-8: #5a5a5a;
  --clr-grey-9: #464646;
  --clr-grey-10: #333333;
  --clr-white: #fff;
  --clr-grey: grey;
  --clr-purple: #6717cf;
  --clr-link-blue: #3681ad;
  --clr-gold: gold;
  --clr-orange: orange;
  --clr-identity-blue: #3460e7;
  --clr-identity-red: #ff3819;
  --clr-mark-bg-red: rgba(255, 56, 25, 0.1);
  --clr-mark-bg-gold: rgba(255, 215, 0, 0.1);
  --clr-mark-bg-orange: rgba(255, 165, 0, 0.1);
  --clr-mark-bg-blue: rgba(52, 96, 231, 0.1);
  --clr-font: var(--clr-grey-10);
  --width-nav-icons: 3.5rem;
  --border-thin-grey: solid 1px var(--clr-grey-1);
  --border-extreme-thin-grey: solid 1px var(--clr-grey-0);
  /* --small-word-space: 1px; */
  --small-letter-space: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: var(--ff-primary); */
  background: var(--clr-grey-1);
  color: var(--clr-grey-10);
  line-height: 1.5;
  font-size: 0.875rem;
}
i {
  color: var(--clr-font);
  margin-left: 5px;
}
i.selected {
  color: var(--clr-gold);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* 对a的补充规定 */
nav a {
  color: var(--clr-grey-10);
}
nav a:visited {
  color: var(--clr-grey-10);
}
.footer a {
  color: var(--clr-grey-10);
}
.footer a:visited {
  color: var(--clr-grey-10);
}
/* 因为navbar的logo不能block，因此用:not */
/* img {
  width: 100%;
  display: block;
} */
img:not(.nav-logo) {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-10);
}
span {
  color: var(--clr-grey-5);
}

/*  global classes */

.btn {
  text-transform: uppercase;
  /* background: var(--clr-primary-5); */
  /* color: var(--clr-white); */
  padding: 0.375rem 0.75rem;
  /* letter-spacing: var(--spacing); */
  display: inline-block;
  /* font-weight: 700; */
  /* -webkit-transition: var(--transition);
  transition: var(--transition); */
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
}
/* .btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
} */
.section {
  padding: 4.5rem 0;
  padding-bottom: 2rem;
  background-color: var(--clr-grey-1);
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
/* .section-title span {
  color: var(--clr-primary-5);
} */
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 900px;
}

.user-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.user-img img {
  border-radius: 50%;
}
.purple {
  background-color: var(--clr-purple);
}
.red {
  background-color: var(--clr-identity-red);
}
.blue {
  background-color: var(--clr-identity-blue);
}
.orange {
  background-color: var(--clr-orange);
}
.gold {
  background-color: var(--clr-gold);
}

/* ===============================================
nav
=============================================== */
.nav-text p {
  font-weight: 550;
}
nav .selected {
  font-weight: 600;
}
/* 消息页 */
nav {
  position: fixed;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  width: 100vw;
  margin: 0;
  /* height: 4.25rem; */
  height: 5rem;
  border-bottom: solid 1px var(--clr-grey-1);
  z-index: 2;
  /* color: var(--clr-grey-5); */
}
.nav-center {
  margin: 0.6rem 0;
  text-align: center;
  width: 95vw;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.left-icon,
.right-icon {
  width: var(--width-nav-icons);
  display: flex;
  justify-content: space-between;
}
.left-icon {
  /* visibility: hidden; */
  justify-self: flex-start;
}
.right-icon {
  justify-self: flex-end;
}
.nav-text p {
  padding: 0;
  margin: 0;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
}
.nav-link.selected {
  border-bottom: solid 0.25rem red;
}
/* 首页 */
nav.home {
  grid-template-rows: 1fr;
  height: 3.5rem;
}
.nav-text.home {
  display: flex;
  justify-content: center;
}
.nav-text.home p {
  margin: 0 5px;
}
.nav-text.home .selected {
  border-bottom: solid 0.25rem red;
}
.user-img.nav-photo {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
/* 发现页 */
nav.find .nav-center {
  grid-template-columns: 1fr auto;
}
/* .nav-search {
  width: 90vw;
} */
.nav-search {
  position: relative;
}
.nav-search input {
  width: 100%;
  border-radius: 25px;
  background-color: var(--clr-grey-1);
  border: none;
  padding: 5px;
  /* 缩进 */
  text-indent: 30px;
}
nav.find .right-icon {
  width: calc(var(--width-nav-icons) / 2);
  justify-content: flex-end;
  align-items: center;
}
/* 搜索框的放大镜
但是有个问题
就是小框正好放进去了，页面变宽后放大镜会出来
我把搜索框width从80vw改成100%就解决了 */
nav.find .zoom {
  position: absolute;
  top: 0.3rem;
  left: 0.35rem;
  color: var(--clr-grey-5);
}
/* 我的页 */
nav.mine {
  grid-template-rows: 1fr;
  height: 3.5rem;
  align-items: center;
  border-bottom: none;
}

.scan-icon {
  justify-self: flex-start;
}
/* 个人页 */
nav.selfpage {
  position: fixed;
  display: block;
  height: 4rem;
  top: 0;
  background-color: var(--clr-transparent);
  border-bottom: none;
  z-index: 3;
}
/* nav.selfpage .nav-center {
  position: fixed;
} */
nav.selfpage p,
nav.selfpage i,
nav.selfpage span {
  color: var(--clr-grey-1);
}
nav.selfpage p {
  font-size: 0.9rem;
  margin-bottom: 0%;
}
nav.selfpage span {
  font-size: 0.75rem;
  margin: 0;
}
.selfpage .nav-center {
  height: 3.5rem;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
.selfpage .nav-left {
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-align: start;
}
.selfpage .nav-right {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-pic {
  height: 8rem;
  background: url(./pic.jpg) center/cover no-repeat;
  position: sticky;
  top: -3.5rem;
  z-index: 2;
}
/* ==============================================
main-消息-@我的
===============================================*/
.selections {
  /* position: absolute;
  top: 4rem; */
  margin-top: 10px;
  padding: 0.5rem;
  height: 2.75rem;
}
.selection {
  border-radius: 20px;
  height: 24px;
  font-size: 12px;
  padding: 0px 10px;
}
.selection.selected {
  font-weight: 600;
}
.card {
  margin-bottom: 10px;
  background-color: var(--clr-white);
  /* padding: 10px; */
}
.card-center {
  padding: 12px;
  padding-bottom: 10px;
}
.message-original {
  background-color: var(--clr-grey-1);
  padding: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
}
.user {
  display: flex;
  justify-content: space-between;
}
.user-info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-content: space-between;
}
.user-time {
  color: var(--clr-grey-5);
}

section .user-img {
  position: relative;
}
.user-img .identity {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  z-index: 1;
  color: var(--clr-white);
  border: solid 0.15rem var(--clr-white);
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(25%);
}
.identity.gold {
  background-color: var(--clr-gold);
}
.identity.orange {
  background-color: var(--clr-orange);
}
.identity.blue {
  background-color: var(--clr-identity-blue);
}
.identity.red {
  background-color: var(--clr-identity-red);
}
.user h4 {
  margin: 0;
}
.user span {
  font-size: 12px;
}
.message-info p {
  margin: 0;
}
.original-text {
  /* max-height: 3rem; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

/* pic部分，根据返回来的item数量设置class，
1个、2个是一种布局，
3是一种，
4是一种，
5-6一种，
7-9，
9后所有是一种。*/
/* 1 2 */
.one-two-pic {
  display: grid;

  grid-template-columns: repeat(2, 50%);
  gap: 5px;
}
.one-two-pic img {
  height: calc(50vw - 5px - 15px);
}
/* 3 */
.three-pic {
  display: grid;

  grid-template-columns: repeat(3, 33%);
  gap: 5px;
}
.three-pic img {
  height: calc(33vw - 10px - 15px);
}
/* 4 */
.four-pic {
  display: grid;

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  gap: 5px;
}
.four-pic img {
  height: calc(50vw - 5px - 15px);
}
/* 5-6 */
.five-six-pic {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 33vw);
  gap: 5px;
}
.fiv-six-pic img {
  height: calc(33vw - 10px - 15px);
}
/* 7-9 */
.seven-nine-pic {
  display: grid;

  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33.3%);
  gap: 5px;
}
.seven-nine-pic img {
  height: calc(33vw - 15px - 15px);
}
.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  padding: 10px;
}
.card-footer-center {
  width: 95vw;
  display: flex;
  justify-content: space-between;
}
/* =======评论类======= */
/* 这部分.message.comment两个class非常关键 */
.comments .card {
  margin-bottom: 0;
  border-bottom: solid 1px var(--clr-grey-1);
}
.message.comment .card-center {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-bottom: 10px;
}
.original-info {
  height: 6rem;
  width: 6rem;
  font-size: 0.65rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  word-break: break-all;
  margin-left: 10px;
  color: var(--clr-grey-5);
}
.message.comment .user-info {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}
.message.comment .user-info h4 {
  margin: 0;
}
.message.comment p {
  margin: 0.25rem 0;
}
.comment-footer span {
  color: var(--clr-link-blue);
}
.comment-footer i {
  color: var(--clr-link-blue);
  margin-right: 5px;
}

/* ====
main-消息-评论
====*/
.original-comment {
  font-size: 0.75rem;
  color: var(--clr-grey-5);
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  margin-bottom: 10px;
}
/* ---iComment会缩略，很关键  且iComment中，没有回复标志*/
.iComment .message-info {
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.iComment .comment-footer {
  display: none;
}

/* ====
main-消息-赞
====*/
.kudos .message-info {
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.totalKudos {
  background-color: var(--clr-white);
  font-size: 0.75rem;
  padding: 10px;
  color: var(--clr-grey-5);
  border-bottom: solid 1px var(--clr-grey-1);
  margin-top: 5px;
}
.totalKudos p {
  margin: 0;
}
.message-info span {
  color: var(--clr-grey-10);
}
/* ====
main-消息-私信
====*/
.strangers {
  margin-top: 5px;
}
.chat .card-center {
  display: grid;
  grid-template-columns: auto 1fr;
}
.chat .user-info {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.chat .user-info .user-name {
  margin: 0;
}
.chat .message-info {
  height: 1.5rem;
  /* 以下设置超出自动变省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
/* 测试text-overflow: ellipsis;在文字本身有无效果；
已知：在container上没有效果。
结果：不生效 */
/* .chat .message-info p {
  text-overflow: ellipsis;
} */
/* =============================================
main-主页-关注
=============================================*/
section.home {
  margin-top: 0;
  /* fix的navbar有多宽，这个padding就有多长 */
  padding-top: 3.5rem;
}
.home .message-info p {
  margin-bottom: 5px;
}

.home .one-two-pic.one img {
  height: auto;
}
.user-selfpage-link:visited {
  color: var(--clr-grey-10);
}
/* ===
main-主页-推荐
===*/
.selections.home {
  margin-top: 0;
  display: flex;
  flex-shrink: 0;
  column-gap: 10px;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-x: auto;
}
/* 隐藏滚动条 */
.selections.home::-webkit-scrollbar {
  display: none;
}
/* =============================================
main-发现-趋势
=============================================*/
.selections.trends {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  height: 5rem;
  margin: 5px 0;
}
.selection.trend {
  display: grid;
  grid-template-rows: repeat(2, auto);
  /* justify-content: center; */
  /* align-items: center; */
  /* justify-items能让图标和字对齐 */
  justify-items: center;
  text-align: center;
  row-gap: 2px;
  padding-top: 5px;
}
.trend-icon {
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.trend-icon i {
  color: var(--clr-white);
  margin: 0;
}

.trend .part-intro p {
  margin-bottom: 0;
}
.trend .part-intro .intro-left {
  color: var(--clr-grey-5);
}
.intro-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
}
.optional {
  background-color: var(--clr-white);
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.optional a:visited {
  color: var(--clr-link-blue);
}
.trending-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  padding: 5px 0;
}
.trend-tag {
  display: flex;
  align-items: center;
  margin: 2px 0;
}
.trend-text-container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.trend-tag p {
  margin-bottom: 0;
}
.trend-mark {
  font-size: 10px;
  padding: 0 2px;
  margin-left: 5px;
  font-weight: 550;
  border-radius: 2px;
}
.trend-mark.red {
  background-color: var(--clr-mark-bg-red);
  color: var(--clr-identity-red);
}
.trend-mark.gold {
  background-color: var(--clr-mark-bg-gold);
  color: var(--clr-gold);
}
.trend-mark.orange {
  background-color: var(--clr-mark-bg-orange);
  color: var(--clr-orange);
}
.visitor-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.visitor-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.visitor-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin: 8px 0;
}
.visitor-right {
  border-left: var(--border-thin-grey);
}
.visitor-part p {
  margin-bottom: 0;
  font-size: 0.75rem;
}
.visitor-part span {
  font-size: 0.7rem;
}
.visitor-vip {
  border-top: var(--border-thin-grey);
}
.visitor-vip p {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 0.75rem;
  display: inline-block;
}
.visitor-vip span {
  font-size: 0.7rem;
}
.vip-purchase-link {
  color: var(--clr-gold);
}
.usually-visit-container {
  padding: 10px 5px;
  display: flex;
}
.usually-visit-card {
  display: grid;
  grid-template-rows: 1fr, auto;
}
.visit-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  overflow: hidden;
}
.selection-text {
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.hot-topic-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 20px;
  padding: 5px;
  height: 3.25rem;
  overflow: hidden;
}
.hot-topic-tag {
  display: flex;
  align-items: center;
}
.hot-topic-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.hot-topic-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.hot-topic-text p {
  font-size: 13px;
  margin-bottom: 0;
  /* word-spacing: var(--small-word-space); */
  letter-spacing: var(--small-letter-space);
}
.optional.hot-video {
  background-color: var(--clr-grey-1);
}
.single-hot-video {
  background-color: var(--clr-white);
  padding: 10px;
  margin-bottom: 10px;
}
.video-container {
  position: relative;
  width: 100%;
  height: 50vw;
}
.video-play-control {
  position: absolute;
  width: 100%;
  height: 100%;
  /* padding不管用:因为.video-time-control设置了left和bottom */
  /* padding: 5px; */
  /* background-color: black; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.video-play-control span {
  color: var(--clr-white);
}
.video-play-control i {
  color: var(--clr-white);
}
/* 播放按钮放不到中间 */
/* .video-play-icon {
  width: 100%;
  text-align: center;
  align-self: center;
}
.video-time-control {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

.video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-time-control {
  position: absolute;
  left: 5px;
  bottom: 5px;
  display: flex;
  width: calc(100% - 10px);
  justify-content: space-between;
}

.video-message {
  display: inline-block;
  /* white-space: pre-line; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
/* .video-message::after {
  content: '展开';
  color: var(--clr-link-blue);
  float: right;
} */
.video-message p {
  margin-bottom: 0;
}
.message-unfold {
  color: var(--clr-link-blue);
  float: right;
}
.video-user-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.video-user-info .user-img {
  width: 30px;
  height: 30px;
}
.video-user-info .user-img .identity {
  height: 0.8rem;
  width: 0.8rem;
  font-size: 0.4rem;
}
.video-card-footer-icons {
  display: flex;
  justify-content: space-between;
}
/* ===
main-发现-超话
===*/
.selections-container {
  margin-top: 10px;
  display: flex;
  flex-shrink: 0;
  /* column-gap: 10px; */
  overflow-x: scroll;
  white-space: nowrap;
  overflow-x: auto;
}
.selections-container::-webkit-scrollbar {
  display: none;
}

.selections.chaohuas {
  background-color: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 8rem;
  margin: 10px 0;
  margin-top: 15px;
  padding: 5px;
  padding-right: 10px;
}
.selections p {
  margin: 0;
}
.part-intro {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-thin-grey);
  padding-bottom: 5px;
}
.part-intro .intro-right {
  color: var(--clr-link-blue);
}
.selections .chaohua-img {
  position: relative;
  border: var(--border-thin-grey);
}
.selections.chaohuas .chaohua-img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.selections.chaohuas .chaohua-img img {
  border-radius: 5px;
}
.selections.chaohuas .chaohua-img .identity {
  position: absolute;
  bottom: 0;
  right: 0;
  /* border-radius: */
  z-index: 1;
  padding: 2px;
  color: var(--clr-white);
  /* border: solid 0.15rem var(--clr-white); */
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0;
}
.chaohua-title {
  display: flex;
}
.chaohua-title h4 {
  margin: 0;
}
.card .chaohua-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.card .chaohua-img img {
  border-radius: 50%;
}
.chaohua-info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-content: space-between;
}
.card .chaohua-img {
  position: relative;
}
.card .chaohua-img .identity {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  z-index: 1;
  color: var(--clr-white);
  border: solid 0.15rem var(--clr-white);
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(25%);
}
.user-link {
  color: var(--clr-link-blue);
}
.user-link:visited {
  color: var(--clr-link-blue);
}
/* ===
main-发现-热门
===*/
.selections.find {
  margin-top: 10px;
  display: flex;
  flex-shrink: 0;
  column-gap: 10px;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-x: auto;
}
.selections.find::-webkit-scrollbar {
  display: none;
}
/* =============================================
main-我的
=============================================*/
.section.mine {
  padding-top: 3.5rem;
}
.mine-user {
  background-color: var(--clr-white);
  margin-bottom: 10px;
  padding: 15px;
  padding-bottom: 20px;
}

.mine-user-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mine-user-left {
  display: flex;
}
.mine-user-left .mine-user-name {
  margin-bottom: 5px;
  font-size: 1rem;
}
.mine-user-left .mine-user-follower {
  font-size: 0.8rem;
}
.user-img.mine-img {
  width: 60px;
  height: 60px;
}
.mine-user-text {
  margin: auto 0;
}
.mine-user-right i {
  font-size: 0.7rem;
  color: var(--clr-grey-5);
}
/* card部分 */
.mine-card {
  padding: 20px 0;
  border-bottom: var(--border-extreme-thin-grey);
}
.mine-card-container {
  margin-bottom: 10px;
}
.mine-card-container p {
  margin-bottom: 0;
  font-size: 0.9rem;
}
.mine-card-container i {
  font-size: 1rem;
}
.mine-card-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mine-card-left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.mine-right span {
  font-size: 0.74rem;
}

/* =============================================
分支-个人主页-selfpage
=============================================*/
section.selfpage {
  padding: 0;
}
.selfpage-title {
  padding: 10px;
  background-color: var(--clr-white);
}
.selfpage-title h3 {
  margin-bottom: 0.5rem;
}
.selfpage-title p {
  margin-bottom: 0;
  font-size: 0.8rem;
}
.usericon {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}
.title-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  text-align: center;
}
.title-img-container {
  position: relative;
}
.selfpage-title-img-container {
  height: 90px;
  width: 90px;
  position: relative;
  bottom: 2.25rem;
  border: solid 0.2rem var(--clr-white);
  z-index: 4;
}
.page-title-img {
  border-radius: 50%;
}
.selfpage-title-img-container .identity {
  height: 1.5rem;
  width: 1.5rem;
  transform: translateX(15%);
}
.title-icons .title-icon {
  font-size: 1rem;
  background-color: var(--clr-grey-1);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.follow-btn {
  display: flex;
  column-gap: 2px;
}
.follow-btn .btn {
  font-size: 1rem;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-left {
  border-radius: 20px 0 0 20px;
}
.btn-right {
  border-radius: 0 20px 20px 0;
  width: 2rem;
}
.selfpage-title-text {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.selfpage-title-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.unfold {
  display: block;
  width: 50px;
  align-self: flex-end;
  color: var(--clr-link-blue);
}
.fans-following {
  display: flex;
  column-gap: 20px;
  margin-bottom: 10px;
}
.fans-following a,
.fans-following a:visited {
  color: var(--clr-grey-10);
  font-size: 0.75rem;
}

.fans-following span {
  font-size: 0.75rem;
}
.fans-following .num {
  color: var(--clr-grey-10);
  font-weight: 550;
}
.photos-thumbnail {
  display: flex;
  column-gap: 2px;
}
.title-thumbnail-img {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
}
.wb-num-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  position: sticky;
  top: 4.5rem;
  background-color: var(--clr-grey-1);
  z-index: 2;
}
.wb-num-filter span {
  font-size: 0.75rem;
}
.wb-num-filter-right {
  display: flex;
  gap: 5px;
  align-items: center;
}
.wb-num-filter-right span,
.wb-num-filter-right i {
  color: var(--clr-link-blue);
}

/* ======
分支-热搜榜
=====*/
section.trendlist {
  padding-top: 5rem;
}
.trendlist-intro {
  padding: 10px;
}
.trendlist-intro span {
  font-size: 0.8rem;
}
.trend-card {
  padding: 10px;
  height: 3rem;
  border-bottom: var(--border-extreme-thin-grey);
}
.trend-card-center {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  align-items: center;
}
.trend-card-center p {
  margin-bottom: 0;
}
.trend-card-left {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 1.5rem;
}
.trend-card-left i {
  color: var(--clr-identity-red);
  margin-left: 0;
}
.trend-card-left span {
  font-size: 0.8rem;
  font-weight: 550;
}
.num-red {
  color: var(--clr-identity-red);
}
.num-orange {
  color: var(--clr-orange);
}

.trend-card-middle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.trend-card-middle span {
  font-size: 0.7rem;
}
.trend-card-right {
  width: 1.5rem;
  text-align: end;
}
.trend-card-right .trend-mark {
  font-size: 0.75rem;
}

/*==================================================
 footer 
==================================================*/
.footer {
  display: block;
  position: fixed;
  /* top: calc(100vh - 2.5rem); */
  left: 0;
  bottom: 0;
  background-color: var(--clr-white);
  width: 100vw;
  margin: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.footer-icon {
  font-size: 1.25rem;
  width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*==================================================
dynamic control
==================================================*/
/* 还有个.selected，在上面每个部分写了，不在这里再写一遍了 */
.none {
  display: none;
}
.rotate {
  transform: rotate(180deg);
}
.invisible {
  visibility: hidden;
}
/*==================================================
responsive settings
==================================================*/
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
    background-color: var(--clr-grey-1);
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  section {
    max-width: 800px;
    margin: auto;
    /* overflow-x: hidden; */
  }
  /* 1 2 */
  .one-two-pic img {
    max-height: 400px;
  }
  /* 3 */
  .three-pic img {
    max-height: 250px;
  }
  /* 4 */
  .four-pic img {
    max-height: 380px;
  }
  /* 5-6 */
  .five-six-pic {
    grid-template-rows: repeat(2, 250px);
  }
  .five-six-pic img {
    max-height: 250px;
  }
  /* 7-9 */
  .seven-nine-pic img {
    max-height: 250px;
  }
  .home .one-two-pic.one img {
    max-height: auto;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 50vw;
    max-height: 400px;
  }
  .hot-topic-container {
    height: 6.5rem;
  }
  .video-play-icon {
    font-size: 2rem;
  }
}
